:root {
  --fuentePrincipal: 'IBM Plex Sans', sans-serif;
  --fuenteSecundaria: 'IBM Plex Mono', monospace;
}

body {
  width: 320px;
  margin: 0;
}

/*header*/

header {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 44px;
  padding: 10px 16px;
  box-sizing: border-box;
}

div.logo img {
  width: 24px;
  height: 24px;
}

div.menu-h img {
  width: 18px;
  height: 2px;
}

/*div.info-principal*/

div.info-principal {
  width: 280px;
  margin-left: 1em;
}

div.info-principal h2 {
  letter-spacing: 0;
  font-family: var(--fuentePrincipal);
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin-top: 29px;
}

div.info-principal h2 span {
  text-decoration: line-through;
}

div.info-principal p {
  font-family: var(--fuenteSecundaria);
  font-size: 14px;
  width: 288px;
  height: 66px;
  color: #060A24;
  letter-spacing: 0;
  font-weight: 22px;
  margin-top: 16px;
  margin-bottom: 0;
}

div.info-principal button {
  height: 48px;
  width: 288px;
  font-family: var(--fuenteSecundaria);
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  background: #00F3BB;
  padding-left: 13px 96px;
  margin-top: 36px;
  margin-bottom: 24px;
  outline: none;
  cursor: pointer;
}

/*section.episodios*/

section.episodios {
  height: 1203.5px;
  width: 320px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}

.episodios div.titulo {
  padding-top: 64px;
  padding-right: 147px;
}

div.titulo h2 {
  font-family: var(--fuentePrincipal);
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 42px;
  padding-left: 16px;
  font-size: 36px;
  width: 157px; 
  height: 48px;
  margin-bottom: 0;
}

div.titulo img {
  width: 298px;
  height: 225px;
}

/* section.pic-phone */

section.pic-phone {
  width: 360px;
  height: 519px;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}

.pic-phone img{
  width: 90%;
  position: absolute;
  top: -60px;
}

section.infor {

}

.infor h2 {
  width: 288px;
  height: 84px;
  margin: 0 16px;
  font-family: var(--fuentePrincipal);
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
}

.infor p {
  margin: 8px 16px 0 16px;
  text-align: justify;
  font-family: var(--fuenteSecundaria);
  font-size: 14px;
}

/* section.invitados */

section.invitados {

}

.invitados h2 {
  margin: 54px 16px 14px 16px;
  width: 288px;
  height: 84px;
  font-family: var(--fuentePrincipal);
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
}

.invitados img {
  width: 90%;
  padding: 0;
}

/*section.temas*/

section.temas {

}

.temas h2 {
  margin: 48px 16px 24px 16px;
  font-family: var(--fuentePrincipal);
  font-size: 36px;
  color: #060A24; 
  letter-spacing: 0;
  line-height: 42px;
}

.temas div.iconos {

}